<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>Use Admin</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Use Desktop</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<true/>
    <key>NSHotspotConfigurationUsageDescription</key>
    <string>We need to connect you to the TD Mouse WiFi network for fast file transfer.</string>
</dict>
</plist>
